.scanReportButton {
 color: black;
 background: white;
 font-style normal;
 font-weight: normal; 
 font-size: 12: 
 text-align: right;
 overflow: visible;
}
.scanReportButtonBlue {
 color: black;
 background: #d2f1ff;
 font-style: normal;
 font-weight: normal; 
 font-size: 12: 
 text-align: right;
 overflow: visible;
}
.scanReportButtonGreen {
 color: black;
 background: yellowgreen;
 font-style: normal;
 font-weight: normal; 
 font-size: 12: 
 text-align: right;
 overflow: visible;
}
.scanReportButtonGold {
 color: black;
 background: gold;
 font-style: normal;
 font-weight: normal; 
 font-size: 12: 
 text-align: right;
 overflow: visible;
}
.scanReportHeader {
 color: black;
 background: white;
 font-style: normal; 
 font-weight: normal; 
 font-size: 12: 
 text-align: center;
 overflow: visible;
}
.scanReportHeaderBlue {
 color: black;
 background: #d2f1ff;
 font-style: normal; 
 font-weight: bold; 
 font-size: 12: 
 text-align: center;
 overflow: visible;
}
.scanReportHeaderGreen {
 color: black;
 background: yellowgreen;
 font-style: normal; 
 font-weight: normal; 
 font-size: 12: 
 text-align: center;
 overflow: visible;
}
.scanReportHeaderGold {
 color: black;
 background: gold;
 font-style: normal; 
 font-weight: normal; 
 font-size: 12: 
 text-align: center;
 overflow: visible;
}

/*
** css for navigation bar
*/
.topnavigation{
    position:absolute;
    right:0px;
}
.topnavigation.scrolling{
    position:fixed;
    top:0px;
}
