#Flappy Bird Firebase Files and Scratch
/9_Flappy_Bird/9_1_FlapAI_Bird/.firebase
/9_Flappy_Bird/9_1_FlapAI_Bird/.firebase/**
/9_Flappy_Bird/9_1_FlapAI_Bird/.firebaserc
/9_Flappy_Bird/9_1_FlapAI_Bird/firebase.json
/9_Flappy_Bird/9_1_FlapAI_Bird/.old
/9_Flappy_Bird/9_1_FlapAI_Bird/.old/**

#A Star School Documents
/3_A_Star/docs/
/3_A_Star/docs/**

#Angry Birds is non-functional
/10_Angry_Birds/
/10_Angry_Birds/**