/9_Flappy_Bird/9_1_FlapAI_Bird/.firebase
/9_Flappy_Bird/9_1_FlapAI_Bird/.firebaserc
/9_Flappy_Bird/9_1_FlapAI_Bird/firebase.json
/9_Flappy_Bird/9_1_FlapAI_Bird/.old
/9_Flappy_Bird/9_1_FlapAI_Bird/.old/**
/3_A_Star/docs/
/3_A_Star/docs/**
/10_Angry_Birds/
/10_Angry_Birds/**