@font-face{
 font-family:'digital-clock-font';
 src: url('sf.ttf');
}


body{


    background-color: rgb(77,123,113);

}
.end{
    width: 2.1rem!important;

}
#wrapper{

    width: 75%;
    margin: 0 auto;
    text-align: center;
     margin-top: 3rem;
}
#scoreboard{

  width: 700px;
  height: 400px;
  color: white;
  background-color:rgb(104,110,99);
  margin-top: 10rem;
  padding: .5rem;
  text-align: center;
  border: 10px solid white;
  margin: 0 auto;

 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



table{
  
  width: 100%;
  margin: 0 auto;
  text-align: center;
/*  border: 1px solid black;*/
  height: 45%;
  
}

td{
/*  border: 1px solid black;*/
    font-weight: 800;
  
}

#title{
  width: 100%;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-family: 'Aldrich', sans-serif;

}




.line{
    outline: 1px solid white;
    outline-offset: .5px!important;
    transform: translateY(10px); 
    background-color: white;
    width: 1.5px!important;


}

#bot_line{

    height: 10px;
    width: 100%;
    background-color: white;
    margin-bottom: .5rem;

}

.a_pitch_num{

    width: 1.5rem;

}

#pitcher_number{


}

.h_total{

    width: 1.5rem;

}

.inc{

    border-bottom: 2px solid rgb(84, 89, 80);
    border-right: 1px solid black;
    background-color: rgba(84, 89, 80,.1);

}



#l_num{float: left;}
#r_num{float: right;}


.num{
    background-color: rgba(0,0,0,.2);
    width: 47%;
    border: 2px solid black;
    height:100%;
    margin-top: 1rem;
    line-height: 5.2rem;
    font-size: 7rem;     
    font-family: "digital-clock-font";

}
.h_team{
    font-size: 1.5rem;
    width: 25%;

}


.a_name{

    
  font-size: 1.5rem;
    width: 25%;
}


/*  -- begin bottom part of scoreboard -- */

#bot_contain{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: strech;
    align-content: space-between;
    
}


.bot_item{

/*    border: 2px solid blue;*/
    width: 15%;
    height: 10rem;
    display: flex;
    flex-direction: column;

}

.title{

    height: 2rem;
/*    border: 2px solid yellow;*/
    width: 98%;
    order: 0;

}
.bot_item_a{

    width: 100%;
    height: 80%;
/*    border: 2px solid green;*/
    display: flex;
    justify-content:space-around;
    align-content: center;

}

.ab_light{

    width: 50%;
/*    border: 2px solid red;*/
    font-size: 5rem;
    font-family: 'Aldrich', sans-serif;
    transform: scale(1,1.8);
    padding-top: 1rem;
    /* you know what you've done*/
    margin-left: -4rem;


}

span{

    font-size: 1.5rem;

}

.g_light{

    width: 28%;
    height: 2rem;
    border-radius: 50%;
    align-self: center;

}

.g_on{

    background-color: lawngreen;


}

.r_light{

    width: 28%;
    height: 2rem;
    border-radius: 50%;
    align-self: center;

}


.r_on{

    background-color: red;


}

.light{

    border: 1px solid gray;

}

/* Begin Controls */

#controls{
  
    background: rgba(255,255,255,.2);
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    padding: 2rem;
    font-size: 1.5rem;


  
}

.control{   

    margin: 0 auto;
    text-align: center;
    width: 70%

}

#x_button{

    font-size: 4rem;
    cursor: default;

/* remove selection highlighting, prefixes */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hidden{
    
    display: none;

}